.edit-device-form-container {
    width: 500px;
    padding: 20px;

    .edit-form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 500px;
    }
}
