.edit-device-form-container {
    max-width: 500px;
    width: 100%;
    border: 1px black solid;
    .edit-form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 500px;
    }
}
