.edit-device-form-container {
    width: 500px;
    padding: 20px;
    overflow-x: hidden;
    .edit-form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        // height: 500px;
        & > * {
            margin: 10px 0;
        }
    }

    .upload-input {
        display: none;
    }
    .extraFieldTitleWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
}
