@import '../input/inputStyles.scss';

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.app-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-margin {
    margin: 0 200px;
}
.add-device-btn {
    margin: 20px 0;
}

.drawer {
    width: 500px;
}

.add-btn-wrapper {
    margin: 20px 0;
    align-self: flex-end;
    height: 42px;
}
